{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Contacts</h1>
        <table class="table table-dark">
            <thead>
            {% for i in range(colHeaders|length) %}
                <th scope="col">{{ colHeaders[i][0] }}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                {% for i in range(contact|length) %}
                    <td>{{ contact[i] }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
